 @import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Momo+Signature&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 body {
     background: linear-gradient(135deg, #f671d5 0%, #e6ecff 100%);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;

 }

 /* Estilizando o card */
 #card {
     background-color: rgb(255, 255, 255);
     padding: 40px;
     border-radius: 20px;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
     text-align: center;
     width: 350px;

 }

 /* Estilizando o título h1 */
 h1 {
     font-family: 'Momo Signature', cursive;
     font-size: 30px;
     color: rgb(250, 13, 203);
     text-align: center;
 }

 /* Estilizando o parágrafo */
 p {
     font-family: 'Roboto Condensed', sans-serif;
     line-height: 18px;
     font-size: 16px;
     color: rgb(156, 37, 123);
     text-align: center;
     
 }

 /* Estilizando a imagem */
 img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 200px;
     height: auto;
     border-radius: 100px;

 }

 .foto-legenda {
     font-size: 12px;
     font-style: italic;

 }